:root {
  --bg: white;
  --text: black;
}

[data-theme='dark'] {
  --bg: black;
  --text: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease;
}

#root {
  width: 100%;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header, .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}